<!-- a book -->
<div class="row">
  <div class="col-md-12">
    <a href="/admin/home">Back to List</a>
    <h2>{{#if book._id}}Update Book ID: {{book._id}}{{else}}New Book{{/if}}</h2>
    <p><em>Enter the book's goodreads ID number and click submit. The application will attempt to import data from goodreads.</em></p>
    <form class="form-inline" name="goodreads-form" id="goodreads-form">
      <div class="form-group">
        <label for="goodreads-id">goodreads Book ID:</label>
        <input type="text" class="form-control" id="goodreads-id" placeholder="ID">
      </div>
      <button type="submit" class="btn btn-primary">Import goodreads Data</button>
    </form>
    <hr>
    <div class="flash-message-container">
      {{#compare initialize 0}}
        <div class="flash-message {{flashClass}}">{{{message}}}</div>
      {{/compare}}
    </div>
    <form action="/admin/upsertbook" method="post">
      <input type="hidden" name="_id" id="_id" value="{{book._id}}">
      <div id="admin-image-container">

      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Book Title" value="{{book.title}}">
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" name="author" placeholder="Book Author" value="{{book.author}}">
      </div>
      <div class="form-group">
        <label for="genre">Genre</label>
        <input type="text" class="form-control" id="genre" name="genre" placeholder="Book Genre" value="{{book.genre}}">
      </div>
      <div class="form-group">
        <label for="genre">Cover URL</label>
        <input type="text" class="form-control" id="cover" name="cover" placeholder="Book Cover" value="{{book.cover}}">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="3" id="description" name="description">{{book.description}}</textarea>
      </div>
      <div class="form-group">
        <label style="margin-right: 10px">Rate the Book:</label>
        <label class="radio-inline">
          <input type="radio" name="stars" id="stars-1" value="1" {{#compare book.stars 1}}checked{{/compare}}>
          <i class="fa fa-star" aria-hidden="true"></i>
        </label>
        <label class="radio-inline">
          <input type="radio" name="stars" id="stars-2" value="2" {{#compare book.stars 2}}checked{{/compare}}>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </label>
        <label class="radio-inline">
          <input type="radio" name="stars" id="stars-3" value="3" {{#compare book.stars 3}}checked{{/compare}}>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </label>
        <label class="radio-inline">
          <input type="radio" name="stars" id="stars-4" value="4" {{#compare book.stars 4}}checked{{/compare}}>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </label>
        <label class="radio-inline">
          <input type="radio" name="stars" id="stars-5" value="5" {{#compare book.stars 5}}checked{{/compare}}>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </label>
      </div>
      <div class="form-group">
        <label for="description">Comments</label>
        <textarea class="form-control" rows="3" id="comments" name="comments">{{book.comments}}</textarea>
      </div>
      <hr>
      <button type="submit" class="btn btn-primary">{{#if book._id}}Update{{else}}Create{{/if}} Book Record</button>
    </form>
  </div>
</div>

<script>
  $(function() {

    $('#goodreads-form').submit(function (event) {
      event.preventDefault();

      // goodreads id
      var goodReadsID = $('#goodreads-id').val();

      $.isLoading({
        class: 'fa fa-refresh fa-spin fa-3x fa-fw'
      });

      $.getJSON('/admin/importGoodReads', {goodReadsID: goodReadsID}).done(function (data) {
        $('#title').val(data.title);
        $('#author').val(data.author);
        $('#description').val(data.description);
        $('#cover').val(data.cover);
        // get cover image and paste it into image container
        $('#admin-image-container').html('<img src="' + data.cover + '" />');

        $.isLoading('hide');
      });
    });

  });
</script>