{{#each books}}
  <!-- a book -->
  <div class="row">
    <br>
    <div class="col-md-2 col-sm-3 text-center">
      <a class="story-title" href="/books/book/{{_id}}">
        {{#if cover}}
          <img alt="{{title}}" src="{{cover}}" style="width:100px;" class="">
        {{/if}}
      </a>
    </div>
    <div class="col-md-10 col-sm-9">
      <h3>{{title}}</h3>
      <div class="row">
        <div class="col-xs-9">
          <h4><span class="label label-default">{{author}}</span></h4><h4>
          <small style="font-family:courier,'new courier';" class="text-muted"><a href="/books/book/{{_id}}" class="text-muted">Read More</a></small>
          </h4></div>
        <div class="col-xs-3"></div>
      </div>
      <br><br>
    </div>
  </div>
  <hr>
{{/each}}
{{!-- We'll want to add paging at some point --}}
{{!-- <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a> --}}
